.pokemon-modal-id {
  font-size: 10px;
  padding: 5px;
  font-weight: bold;
  color: #d3d3d3;
}
.pokemon-modal-name {
  padding: 3px;
}
.pokemon-modal-header {
  display: flex;
  flex-direction: row;
}

.type-btn,
.type-btn:hover,
.type-btn:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  cursor: default !important;
}

/* pokemon types by color */
.bug {
  background-color: #9dab18 !important;
}
.dark {
  background-color: #3c2d22 !important;
}
.dragon {
  background-color: #6f59dd !important;
}
.electric {
  background-color: #fbc116 !important;
}
.fairy {
  background-color: #f9adfb !important;
}
.fighting {
  background-color: #7b250c !important;
}
.fire {
  background-color: #f63807 !important;
}
.flying {
  background-color: #98a8f4 !important;
}
.ghost {
  background-color: #5d5eb0 !important;
}

.grass {
  background-color: #73c233 !important;
}
.ground {
  background-color: #d3b055 !important;
}
.ice {
  background-color: #a7e8fd !important;
}
.normal {
  background-color: #c7bfb8 !important;
}
.poison {
  background-color: #924193 !important;
}
.psychic {
  background-color: #ed447e !important;
}
.rock {
  background-color: #b99d4d !important;
}
.steel {
  background-color: #aeaebc !important;
}
.water {
  background-color: #2c97ff !important;
}
